*{
    box-sizing: border-box;
}
/* header */
.header{
    background-color: #1d1d1d;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header .inner-logo a{
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}
/* End header */

/* body */
.body .sider{
    width: 200px;
    background-color: rgba(82, 82, 83, 0.941);
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top:56px;
    left: 0;
}
.body .main{
    margin: 15px;
    position: relative;
    left: 200px;
    width: calc(100% - 230px);
}
/* end body */

/* sider */
.sider ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sider ul li{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.sider ul li a{
    color: #fff;
}

/* show-alert */
[show-alert]{
    position: fixed;
    top:70px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden{
    animation: AlertHidden 0.5s both;
}

@keyframes AlertHidden {
    form{
        right: 15px;
    }
    to{
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert]{
    background: #ffffffc4;
    width: 24px;
    height:24px;
    display: inline-block;
    border-radius: 50%;
    cursor:pointer;
    line-height: 24px;
    font-weight: 600;
    text-align: center;

}
/* end show-alert */

/* Image Preview */
.image-preview{
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top:15px;
    padding: 15px;
}
.image-preview[src=""]{
    display: none;
}
/* End Image Preview */

/* button close-image-preview */
.close-image{
    position: relative;
    padding: 0px 7px;
    font-size: 15px;
    font-weight: 600;
    top:-65px;
    left: -13px;
    border-radius: 50%;
}
.image-preview[src=""] + .close-image{
    display: none;
}
/* end button close-image-preview */

/* dashboard */
.box-cart{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.18);
    padding: 20px;
    height: 150px;
    align-items: center;
    border-radius: 8px;
}
.box-cart:hover{
    cursor: pointer;
}
.box-cart-content .box-cart-total{
    color: #f6500a;
    font-size: 35px;
    font-weight: 700;
}
.box-cart-content .box-cart-title{
    color: #481006;
    font-size: 18px;
    font-weight: 500;
}


.box-cart-icon{
    margin-right: 16px;
}
.box-cart-icon i{
    font-size: 60px;
}

.icon-category-product i{
    color: #f6500a;
}
.title-category-product{
    color: #f6500a;
}

.icon-list-product i{
    color: #0a8008;
}
.title-list-product{
    color: #0a8008;
}

.icon-catogory-article  i{
    color: #0b1f9f;
}
.title-catogory-article{
    color: #0b1f9f;
}

.icon-list-article i{
    color: #0d90b8;
}
.title-list-article{
    color: #0d90b8;
}

.icon-account i{
    color: #464747;
}
.title-account{
    color: #464747;
}
.icon-user i{
    color: #cecb10;
}
.title-user{
    color: #cecb10;
}


/* end dashboard */
