/* Header */
html{
    height: 100%;
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f5f5f5;
}
.layout-body{
    flex: 1;
    margin-top: 80px;
}
ul{
    list-style: none;
}
.container{
    max-width: 1240px;
    margin: auto;
}
a:hover{
    text-decoration: none;
}
.header{
    position: fixed;
    z-index: 990;
    width: 100%;
    top: 5px;
    
}
.header .inner-header{
    padding: 10px 20px;
    border-radius: 40px;
    background: linear-gradient(to right, #f97316, #fb923c, #facc15);
}
.header .inner-logo img{
    max-height: 50px;
    max-width: 100%;
    border-radius: 50%;
}

.header .inner-menu > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.header .inner-menu > ul > li > a {
    color: #fff ;
    padding: 12px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
}
.header .inner-menu > ul > li > a:hover{
    transition: all 0.4s;
    background-color: #f4f4f4;
    color:#fb923c;
}
.header input{
    font-size: 15px;
    background-color: #ffffffb2;
    border-radius: 20px 0 0 20px;
    color: #f25116;
}
.header button{
    border-radius: 0 20px 20px 0;
    font-size: 15px;
    font-weight: 500;
    background-color: #d26309;;
    border: none;
}
.header button:hover{
    background-color: #f4f4f4;
    color:#fb923c;
}
.header .cart{
    font-size: 18px;
}
.header .cart i{
    font-size: 16px;

}

/* end header */


/* sliders */
.inner-image-slider{
    width: 100%;
    height: 400px;
}

.inner-image-right{
    height: 400px;
}
.inner-image-right-slider{
    width: 100%;
    height: 200px;
}
.inner-left-banner{
    background: linear-gradient(to right, #f97316, #fb923c, #facc15);
    color:#fff;
    font-size: 20px;
    padding:7px 30px 7px 10px;
    width: 16%;
}
.inner-animation-banner{
    background-color: #000;
    color:#fff;
    padding: 10px 0px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    
}

.inner-animation-banner p{
    animation:lienhe 12s linear infinite;
    padding-left:100%; 
    margin: 0;

}
@keyframes lienhe{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-190%);
    }
}
/* end sliders */


/* login register */

.background_user{
    padding: 30px 20px;
    background: linear-gradient(to bottom, #edb61c, #e1ccb3);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 -4px 8px rgba(0,0,0,0.1), 4px 0 8px rgba(0,0,0,0.1), -4px 0 8px rgba(0,0,0,0.1);
}
.background_user h2{
    color: #fff;
}
.background_user label{
    color: #fff;
    font-size: 18px;
}
.background_user button{
    margin-top: 16px;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #d26309;
    box-shadow: 0 0 10px rgba(99, 99, 99, 0.6);
}
.background_user input{
    border-radius:20px ;
}

.background_user button:hover{
    background-color: #ffffff00;
    border: 2px solid #d26309;
    color: #d26309;
}
.background_user .text-fogot{
    color: #d26309;
    font-weight: 500;
}
/* end login register */


/* cart shopping */
.cart-shopping b{
    color: #d26309;
}
.cart-shopping .pay{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background: linear-gradient(to right, #f97316, #fb923c, #facc15);
}
.cart-shopping .pay:hover{
    background: #ffffff00;
    border: 2px solid #d26309;
    color: #d26309;
}
/* end cart shopping */




/* footer */
.footer{
    color:#fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to right, #f97316, #fb923c, #facc15);
}
.footer h3{ 
    margin-bottom: 10px;
    text-align: center;
    font-size: 23px;
}
.footer h4{
    font-size: 16px;
}
.footer .inner-left ul{
    margin: 0;
    padding-left: 16px;
}
.footer .inner-left ul li{
    display: flex;
    align-items: center;   
}
.footer .inner-left ul li h4{
    margin: 6px 0;
}
.footer .inner-left ul li i{
    margin-right: 8px;
    color:#FDB813
}
.footer .inner-left ul li p{
    margin: 6px 0;
}
.footer .inner-right{
    height: 100%;
}
.footer .inner-center ul{
    padding: 0;
}
.footer .inner-center ul li{
    text-align: center;
    font-size: 18px;
    margin: 4px;
}
.copy{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    background-color: #444343;
}
/* end footer */

/* product */
.box-head{
    border-bottom: 2px solid #facc15;
}
.box-head .inner-title{
    display: inline;
    padding: 6px 30px 6px 10px;
    background: linear-gradient(to right, #f97316, #fb923c, #facc15);
    font-size: 20px;
    color: #fff;
    border-radius: 0 30px 0 0;
    position: relative;
    bottom: 4px;
    
}

.product-item{
    background-color: #fff;
    
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.product-item .inner-img{
    width: 100%;
    aspect-ratio: 4/3;
    text-align: center;
    position: relative;
    padding: 5px;
    
}
.product-item .inner-img img{
    width: 85%;
    height: 85%;
    object-fit: contain;
    margin-top: 10px;
}

.product-item .inner-featured{
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(to right, #f97316, #fb923c, #facc15);
    padding: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
}

.product-item .inner-content{
    padding: 15px 20px;
}
.product-item .inner-content .inner-title{
    font-size: 17px;
    color: #391c07;
}
.product-item .inner-content .inner-price-new{
    color: red;
    font-size: 22px;
    font-weight: 700;
}

.product-item .inner-content .inner-price-old{
    color: #b3b2b2;
    font-weight: 600;
    display: block;
}
.product-item .inner-content .inner-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    font-weight: 600;
    top:10px;
    right: 10px;
}
.product-item .inner-content .inner-article_content{
    width: 100%;
    height: 50px;
    overflow: hidden;
    font-size: 16px;
    color:#000;
}
.product-item .inner-content .inner-product-cart{
    color: #fa8715;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    right: -30px;
    opacity: 0;
    border: 0;
    background-color: #fff;
}
.product-item:hover .inner-img img{
    transform:translateY(-10px);
    transition: all 0.5s;
}
.product-item:hover .inner-content .inner-title{
    color: #fa8715;
    transition: all 0.2s;
}
.product-item:hover{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.18);
}
.product-item:hover .inner-content .inner-product-cart{
    animation: Shopping 0.6s forwards;
}
@keyframes Shopping {
    from{
        opacity: 0;
        right: -30px;
    }
    to{
        opacity: 1;
        right: 30px;
    }
}

/* End products */


/* Sub-menu */
.sub-menu{
    position: relative;
    z-index: 999;
}
.sub-menu ul{
    position: absolute;
    left: 0;
    top: 37px;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fb923cce;
    border: 3px solid #ff5500;
    min-width: 180px;
    display: none;
    border-radius: 15px;
}
.sub-menu ul li{
    padding: 10px;
    border-top: 2px solid #FF7F00;
}
.sub-menu ul li a{
    color: #fff;
    font-size: 17px;
}
.sub-menu ul li:nth-child(1){
    border-top: none;
}
.sub-menu:hover > ul{
    display: block;
}
.sub-menu ul li{
    position: relative;
}
.sub-menu ul li ul{
    left: 100%;
    top:0;
}
.sub-menu ul li:hover > ul{
    display: block;
}
/* End sub-menu*/



/* product-detail */
.product-detail .inner-img-detail img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-detail .inner-title-detail{
    font-size: 32px;
    margin-bottom: 15px;
    color: #d26309;
}
.product-detail .inner-category-detail{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
.product-detail .inner-priceNew-detail{
    font-size: 20px;
    margin-bottom: 10px;
}
.product-detail .inner-priceNew-detail b{
    font-size: 24px;
    font-weight: 700;
    color: red;
}
.product-detail .inner-price-detail{
    color:#272626;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;

}
.product-detail .inner-discountPercentage-detail{
    margin-bottom: 10px;
    font-size: 18px;
}

.product-detail .inner-discountPercentage-detail span{
    background-color: red;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 3px 6px;
    border-radius: 8px;
}
.product-detail .inner-stock-detail{
    font-size: 18px;

}
.product-detail .inner-stock-detail span{
    background-color: green;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 3px 6px;
    border-radius: 8px;
}
.product-detail button{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background: linear-gradient(to right, #f97316, #fb923c, #facc15);
}
.product-detail button:hover{
    background: #ffffff00;
    border: 2px solid #d26309;
    color: #d26309;
    transition: all 0.3s;
}
.product-detail .inner-description-detail{
    font-size: 17px;
}

/* End product-detail */

/* article-detail */
.article-item{
    padding: 10px;
    border: 2px solid #facc15;
    border-radius: 15px;
}
.article-item .inner-img{
    height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
}
.article-item .inner-img img{
    height: 100%;
    border-radius: 10px;
}
.article-item .inner-featured{
    position: absolute;
    top: 5px;
    left: 30px;
    background: linear-gradient(to right, #f97316, #fb923c, #facc15);
    padding: 7px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
}
.article-item .inner-title{
    color: #d26309;
    font-size: 30px;
    font-weight: 600;
}
.article-item .inner-article_xemthem{
    color: #a44209;
}


.article-detail .inner-title{
    color: #d26309;
    font-size: 35px;
    
}
.article-detail .inner-content{
    font-size: 18px;
    margin-top: 10px;
}
.article-detail .inner-content img{
    width: 80%;
    height: auto;
}
/* End article-detail */

/* show-alert */
[show-alert]{
    position: fixed;
    top:70px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden{
    animation: AlertHidden 0.5s both;
}

@keyframes AlertHidden {
    form{
        right: 15px;
    }
    to{
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert]{
    background: #ffffffc4;
    width: 24px;
    height:24px;
    display: inline-block;
    border-radius: 50%;
    cursor:pointer;
    line-height: 24px;
    font-weight: 600;
    text-align: center;

}
/* end show-alert */


/* chat */
.chat{
    border: 1px solid #ddd;
    border-radius: 10px;
    background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  ); /* lớp gradient trắng trong suốt */
  backdrop-filter: blur(15px);  /* mờ nền */
  -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* Đổ bóng */
}
.chat .inner-body{
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
}
.chat .inner-body .inner-name{
    font-size: 16px;
    font-weight: 600;
}
.chat .inner-body .inner-content{
    padding: 6px;
    text-wrap: balance;
    background-color: #f3f0f0;
    font-size: 15px;
    border-radius: 15px;
    width: 40%;
    margin-bottom: 5px;
}
.chat .inner-body .inner-outgoing{
    width: 100%;
}
.chat .inner-body .inner-outgoing .inner-content{
    padding: 6px;
    background-color: #89ead9;
    text-wrap: balance;
    font-size: 15px;
    border-radius: 13px;
    width: 40%;
    margin-bottom: 5px;
    margin-left: auto;

}
.chat .inner-body .inner-images{
    width: 40%;
    margin-left: auto;
    text-align: right;
}

.chat .inner-body .inner-images img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding: 6px;
    background-color: #efefef;
    margin: 0 5px 5px 0;
    border-radius: 5px;
}
.chat .inner-foot {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat .inner-form {
    display: flex;
    
    width: 100%;
    gap: 10px; /* khoảng cách giữa input và button */
}

.chat .inner-form input {
    flex: 1;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
}
.chat .inner-form .button-icon{
    font-size: 15px;
    height: 32px;
    cursor: pointer;
}
.chat .inner-form button {
    border-radius: 15px;
    border: 1px solid #89ead9;
    background: #89ead9;
    color: #fff;
    height: 32px;
    padding: 0 10px;
    cursor: pointer;
    white-space: nowrap;
}

/* end chat */

/* Emoji icon */
.tooltip{
    visibility: hidden;
}
.tooltip.shown{
    visibility: visible;
    opacity: 1;
}
/* end Emoji icon */

/* Typing */
.box-typing{
    position: relative;
}
.box-typing .inner-dots{
    position: relative;
    height: 20px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 45px;
    margin-top: 3px;
}
.box-typing .inner-dots span{
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    background-color: #252525;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}
.box-typing .inner-dots span:nth-child(2){
    animation-delay: 0.2s;
}
.box-typing .inner-dots span:nth-child(3){
    animation-delay: 0.4s;
}
@keyframes blink{
    0%{
        opacity: 0.1;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
/* end Typing */


/* Upload-image */
.chat .inner-upload-image .inner-image{
    width: 100%;
    display: none;
    background-color: #efefef;
    flex-wrap: wrap;
    padding: 10px;
}
.chat .inner-upload-image .image-wrapper{
    width: 80px;
    height: 80px;
    padding: 5px;
    position: relative;
    background-color: #efefef;
    box-shadow: 0px 0px 3px 3px #afafaf;
    margin-right: 6px;
}
.chat .inner-upload-image .image-wrapper .image{
    width: 100%;
    height: auto;
}
.chat .inner-upload-image .image-wrapper .close-image{
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;

}
#upload-image{
    display: none;
}
/* End Upload-image */


/* box userSocket */
.box-user{
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20x;
    align-items: center;
}
.box-user .inner-avt{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f2f2f2;
    margin-right: 10px;
}
.box-user .inner-avt img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.box-user .inner-info{
    flex: 1;
}
.box-user .inner-info .inner-name{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}
.box-user [btn-cancel-friend]{
    display: none;
}
.box-user.add [btn-add-friend]{
    display: none;
}
.box-user.add [btn-cancel-friend]{
    display: inline-block;
}

.box-user [btn-delete-friend]{
    display: none;
}
.box-user.refuse [btn-accept-friend]{
    display: none;
}
.box-user.refuse [btn-refuse-friend]{
    display: none;
}
.box-user.refuse [btn-delete-friend]{
    display: inline-block;
}

.box-user [btn-accepted-friend]{
    display: none;
}
.box-user.accepted [btn-accept-friend]{
    display: none;
}
.box-user.accepted [btn-refuse-friend]{
    display: none;
}
.box-user.accepted [btn-accepted-friend]{
    display: inline-block;
}

.box-user .inner-status{
    font-size: 12px;
    color:#15f324;
    opacity: 0;
    position: relative;
}
.box-user .inner-status i{
    position: absolute;
    top: -34px;
    right: 0;
}
.box-user .inner-status[status="online"]{
    opacity: 1;
}
/* End box userSocket */

/* Box-room */
.box-room{
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20x;
    align-items: center;
}
.box-room .inner-avt{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #c3c1c1;
    margin-right: 10px;
}
.box-room .inner-avt img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.box-room .inner-info{
    flex: 1;
}
.box-room .inner-info .inner-name{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}
/* End Box-room */


/* order */
.box-order{
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.box-order .order-item{
    margin: 10px 0;
}
.box-order .order-item .order-content{
    width: 920px;
    margin: 0 20px;
    margin-top: 13px;
}
.order-content .title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
}
.order-item .order-price{
    display: flex;
    align-items: center;
}
.box-order .order-total{
    text-align: end;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
}
.box-order .order-total span{
    font-size: 20px;
    color: #d26309;
    font-weight: 600;
}
.box-order .order-ngancach{
    height: 1px;
    background-color: #f38b50;
}
.box-order .btn-end-order{
    text-align: end;
    margin-right: 20px;
}
.btn-order{
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    padding: 7px 30px;
    border-radius: 5px;
    border: 0;
    background: linear-gradient(to right, #f97316, #fb923c, #facc15);
}
.btn-order:hover{
    background: #ffffff00;
    border: 2px solid #d26309;
    color: #d26309;
    transition: all 0.3s;
}
.order-none{
    text-align: center;
    color: #a44209;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
.btn-center-home{
    text-align: center;
    margin: 20px 0;
}
.cart-none{
    text-align: center;
    color: #a44209;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}



/* Payment error */
.payment-failed {
    max-width: 420px;
    margin: 100px auto;
    background: #fff;
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(255, 94, 0, 0.2);
    border-top: 5px solid #ff6a00;
}
.payment-success {
    max-width: 420px;
    margin: 100px auto;
    background: #fff;
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(255, 94, 0, 0.2);
    border-top: 5px solid #ff6a00;
}
.payment-success h2{
    color: #ff6a00;
}

.payment-failed .icon {
    font-size: 80px;
    color: #ff6a00;
    margin-bottom: 20px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}

.payment-failed h2 {
    color: #ff6a00;
    font-weight: 700;
    margin-bottom: 10px;
}

.payment-failed p {
    color: #555;
    font-size: 15px;
    margin-bottom: 25px;
}

.btn-orange {
    background-color: #ff6a00;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.btn-orange:hover {
    background-color: #ffffff;
    color:#ff6a00;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(255, 94, 0, 0.3);
}
/* end Payment error */





